node_js:
- '0.10'
- '0.12'
- '4.0'
- '4.1'
- '4.2'
- '5.0'
- '5.1'
- '5.2'
- '5.3'
- '5.4'
- '5.5'
sudo: false
language: node_js
script: npm run-script test-travis
after_script: npm install coveralls@2 && cat ./coverage/lcov.info | coveralls
addons:
  apt:
    packages:
    - zsh
